@import "comunes";
@import "footer";

$font1: 700 50px 'Merriweather', serif;

/*Empieza el header*/
.header{
    display: flex;
    position: relative;
    height: 130px;
    width: 100%;
    margin-top: 0px;
    background: linear-gradient(rgb(46, 84, 250), #8ba5df);
    }
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    padding: 10px 0px;
    margin-left: 0px;
}
.header__logo img{
    max-width: 100%;
    width: 130px;
}
.header__name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    width: 63%;
    text-align: center;
}
.header__name h1{  
    font: $font1;
}

@media only screen and (max-width: 780px){/*diseño para tablet*/
    .header__name h1{
        font-size: 2em;
    }
}

@media only screen and (max-width: 480px){/*diseño para celular*/
    .header{
        display: block;
        height: 100%;
    }
    .header__logo{
        width: 100%;
        height: 100%;
        padding: 10px 0px 0px 0px;
    }
    .header__logo img{
        width: 100px;
    }
    .header__name{
        width: 100%;
        height: 100%;
    }
    .header__name h1{
        font-size: 1.5em;
    }
}

/* Termina el header*/


/*Empieza el menú*/
nav{
    position: relative;   
    height: 35px;
    width: 100%;
    text-align: center;
    background-color: rgb(139, 165, 223);
}
.nav__list{
    padding-left: 0%;
}
.nav__list-item{
    display: inline-block;
    height: 32px;
    width: 10%;
    padding: 5px 10px;
    background-color: rgb(114, 150, 226);        
}
.nav__list-item:hover{
    background-color: rgb(139, 165, 223)
}
.nav__list-item a{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 780px){/*diseño para tablet*/
    .nav__list-item{    
        width: 15%
    }
}

@media only screen and (max-width: 480px){/*diseño para celular*/
    .nav__list-item{
        display: block;
        margin: 0 auto;
        width: 80%;
        height: 100%;        
    }
    .nav__list{
        margin-bottom: 0%;      
    }    
    nav{
        height: 100%;
        width: 100%;
        padding: 3px 0px;
    }
}
/*Termina el menú*/

/*Section de uso común*/

.section__img{
    text-align: center;
    max-width: 100%;
}
.section__img img{
    max-width: 100%;
}

.section__list{
    display: list-item;
    position: relative;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    padding: 20px;
    list-style: none;
    font-family: 'Enriqueta', serif;
    font-size: 18px;    
    text-align: justify;
    background-color: rgb(240, 240, 240);
}
.section__list li{
    list-style: none;
}
.section__list ol{
    padding-left: 0px;
}

@media only screen and (max-width: 780px){/*diseño para tablet*/
    .section__list{
        width: 80%;
        margin: 0 auto;
    }
    .section h2{
        font-size: 1.25em;
    }
    .section h3{
        font-size: 1.25em;
    }   
}
@media only screen and (max-width: 480px){/*diseño para celular*/
    .section__img img{
        max-width: 90%;
    }
    .section h2{
        font-size: 1.25em;
    }
    .section h3{
        font-size: 1.25em;
    }
    .section p{
        font-size: 15px;
    }
}


/*section planes*/

.planes__container{
    display: grid;
    justify-items: center;
    height: 100%;
}

.planes{
    display: grid;
    grid-template-rows: 50px 2fr 60px;
    width: 80%;
    justify-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.png{
    background-color: #e8f5ff;
}
.seirl{
    background-color: #c3e3fd;
}
.sspa{
    background-color: #9acef8;
}
.sa{
    background-color: #6eb8f5;
}

.planes li{
    text-align: justify;
    font-family: 'Enriqueta', serif;
    font-size: 15px;
    padding: 0.5px;
}
.planes ol{
    margin-bottom: 10px;
}

@media only screen and (max-width:780px){/*diseño para tablet*/
    .planes{
        width: 90%;
    }
    .planes li{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width:480px){/*diseño para celular*/
    .planes{
        width: 96%;
    }
    .planes li{
        margin-left: 5%;
        margin-right: 5%;
    }
    .planes a{
        height: 20px;       
    }
}
/*Fin section planes*/


/*Formulario página Contacto*/
.prueba{
    background-color: #9acef8;
    height: auto;
}
.formulario{
    justify-items: center;
    height: 95%;
    margin: 20px 20px 0px 20px;
    background-color: #8ccce8;
    padding: 10px 5px;
    border-radius: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: 1px solid white;
}

.formulario p{
    text-align: center;
}
.col-form-label{
    margin-left: 10px;
}
.btn{
    color: rgb(0, 0, 0);
    background-color: rgb(211, 211, 211);
    border-color: white;
    margin-left: auto;
    margin-right: auto;
}
.btn:hover{
    transform: scale(1.1);
    transition: all 0.25s;
}

@media only screen and (max-width: 780px) {
    
}
@media only screen and (max-width: 480px) {
    .formulario label{
        display: block;    
    }
    .ert input{
        margin-left: 0 px;
    }
}

/*section servicios*/
.section__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.section__box{
    display: grid;
    grid-template-areas: 
    "title title"
    "img list";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 280px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 1px solid white;
    background-image: url(../img/light_noise_diagonal.png);
    &:hover{
        transform: scale(1.03);
        transition: all 0.5s;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    }







}



.section__box-list{
    height: 50%;
}
.servicios__list{
    height: auto;
}
.section__box img{
    grid-area: img;
    max-width: 100%;
    width: 350px;
    margin: 0 auto;
}
.section__box ul{
    grid-area: list;
    text-align: left;
    list-style-position: inside;
    padding-left: 1rem;
}
.section__box h4{
    grid-area: title;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 768px) {/*diseño para tablet*/

    .section__box{
        display: block;
        width: 90%;
        height: 100%;    
    } 
    .servicios__list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

} 
@media only screen and (max-width: 480px) {/*diseño para celular*/
    .section__content{
        height: 100%;    
    }
}
/*Fin section servicios*/

/*Empieza el footer*/

@media only screen and (max-width: 780px){/*diseño para tablet*/
    
}

@media only screen and (max-width: 480px){/*diseño para celular*/
    .foot__container{
            display: block;
    }
    .foot__contact{
            width: 100%;
            height: 100%;       
    }
    .foot__houroff{
            width: 100%;
            height: 100%;
    }
    .foot__asoc{
            width: 100%;
            height: 100%;        ;
    }            
}
/*Fin del footer*/
